body,
html {
	overflow-x: hidden;
}
body {
	font-family: "DM Sans", sans-serif;
	letter-spacing: 0.04em;
	font-size: 16px;
}
*,
::before,
::after {
	padding: 0;
	margin: 0;
	border: 0;
	outline: 0;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}
li {
	list-style-type: none;
}
a {
	text-decoration: none;
}
a,
button {
	cursor: pointer;
}
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	border: 0;
	clip: rect(0 0 0 0);
}
.container {
	margin: 0 auto;

	@media screen and (min-width: var(--mobile)) {
		width: var(--mobile);
	}
	@media screen and (min-width: var(--tablet)) {
		width: var(--tablet);
	}
	@media screen and (min-width: 1280px) {
		width: var(--desktop);
	}
}
