:root {
  --first-text-color: #ffffff;
  --accent-and-text-color: #d41443;
  --background-and-text-color: #ffa5ba;
  --fourth-text-color: #000000;
  --fifth-text-color: #907e82;
  --first-hover-color: #ecebeb;
  --second-hover-color: #c7133e;
  --title-and-button-gap: 15px;
  --card-set-gap: 30px;
  --mobile: 320px;
  --tablet: 768px;
  --desktop: 1200px;
}
