:root {
	--second-background-and-text-color: #ffffff;
	--accent-and-text-color: #d41443;
	--background-and-text-color: #ffb8ca;
	--first-text-color: #ffa5ba;
	--second-text-color: #000000;
	--third-text-color: #907e82;
	--first-hover-color: #ecebeb;
	--second-hover-color: #c7133e;
	--title-and-button-gap: 15px;
	--card-set-gap: 30px;
}

$mobile: 480px;
$tablet: 768px;
$desktop: 1280px;
