<section id="about" class="about">
	<div class="container-about container">
		<div class="about__text">
			<p class="about__description wow animate__fadeInLeft">
				tradition and love
			</p>
			<h2 class="about__title wow animate__fadeInRight">
				how it’s made?
			</h2>
		</div>
		<div class="about__wraper-tablet">
			<picture class="wow animate__fadeInLeft">
				<source
					srcset="
						./images/about/about__cow-m.png     1x,
						./images/about/about__cow__2x-m.png 2x
					"
					media="(max-width: 767px)"
				/>

				<source
					srcset="
						./images/about/about__cow-t.png     1x,
						./images/about/about__cow__2x-t.png 2x
					"
					media="(max-width: 1199px)"
				/>

				<source
					srcset="
						./images/about/about__cow-d.png     1x,
						./images/about/about__cow__2x-d.png 2x
					"
					media="(min-width: 1280px)"
				/>

				<img
					class="about__img wow animate__fadeInLeft"
					src="./images/about/about__cow-m.png"
					alt="How it’s made?"
				/>
			</picture>
			<div class="description-about">
				<div class="container wow animate__fadeInRight">
					<p
						class="
							description-about_black
							wow animate__fadeInRight
						"
					>
						Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel
						justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend
						erat at justo fringilla.
					</p>
					<p
						class="
							description-about_white
							wow animate__fadeInRight
						"
					>
						Curabitur lacinia enim at ex blandit, vel pellentesque odio
						elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum
						euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras
						massa nibh, tincidunt. Aliquam erat volutpat. Aenean accumsan.
					</p>
					<button
						class="about__btn wow animate__fadeInUp "
						href="#"
						data-modal-about-open
					>
						Read more
						<svg class="about__icon" width="8" height="10">
							<use href="./images/about/symbol-defs.svg#aboutbtn"></use>
						</svg>
					</button>
				</div>
			</div>
		</div>
	</div>
</section>
