<div class="backdrop is-hidden" data-modal-about>
	<div class="modal-about">
		<button class="modal-about__button" type="button" data-modal-about-close>
			<svg width="11" height="11">
				<use
					href="./images/about/symbol-defs.svg#icon-mobile-modal-close"
				></use>
			</svg>
		</button>
		<div class="modal-about__wrapper">
			<div class="modal-about__wrapper-description">
				<p class="modal-about_black">
					Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
					cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
					justo fringilla.
				</p>
				<img
					class="modal-about__img"
					src="./images/about/about__cow-m.png"
					alt="#"
				/>
                </div>
                <div class="modal-about__wrapper-description1">
					<img
						class="modal-about__img2"
						src="./images/about/about__cow-m.png"
						alt="#"
					/>
					<p class="modal-about_white">
						Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
						Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
						suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
						tincidunt. Aliquam erat volutpat. Aenean accumsan.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
