<section class="advantages">
	<div class="container advantages__container">
		<h2 class="visually-hidden">Преимущества</h2>
		<ul class="list advantages__list">
			<li class="advantages__item">
				<div class="advantages__icon_container">
					<svg class="advantages__icon" width="33" height="50">
						<use href="./images/advantages/adv_icon1.svg"></use>
					</svg>
				</div>
				<strong class="advantages__titel">721</strong>
				<p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
			</li>
			<li class="advantages__item">
				<div class="advantages__icon_container">
					<svg class="advantages__icon" width="50" height="50">
						<use href="./images/advantages/adv_icon2.svg"></use>
					</svg>
				</div>
				<strong class="advantages__titel">16kg</strong>
				<p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
			</li>
			<li class="advantages__item">
				<div class="advantages__icon_container">
					<svg class="advantages__icon" width="44" height="50">
						<use href="./images/advantages/adv_icon3.svg"></use>
					</svg>
				</div>
				<strong class="advantages__titel">84</strong>
				<p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
			</li>
		</ul>
	</div>
</section>