<section class="advantages">
	<div class="container advantages__container">
		<h2 class="visually-hidden">Преимущества</h2>
		<ul class="list advantages__list">
			<li class="advantages__item">
				<div class="advantages__icon_container">
					<img srcset="./images/advantages/adv-icon1.png 1x, ./images/advantages/adv-icon1@2x.png 2x"
						src="./images/advantages/adv-icon1.png" alt="графика ведро и вымя" width="33">
				</div>
				<strong class="advantages__titel">721</strong>
				<p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
			</li>
			<li class="advantages__item">
				<div class="advantages__icon_container">
					<img srcset="./images/advantages/adv-icon2.png 1x, ./images/advantages/adv-icon2@2x.png 2x"
						src="./images/advantages/adv-icon2.png" alt="графика ведро и вымя" width="50">
				</div>
				<strong class="advantages__titel">16kg</strong>
				<p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
			</li>
			<li class="advantages__item">
				<div class="advantages__icon_container">
					<img srcset="./images/advantages/adv-icon3.png 1x, ./images/advantages/adv-icon3@2x.png 2x"
						src="./images/advantages/adv-icon3.png" alt="графика ведро и вымя" width="44">
				</div>
				<strong class="advantages__titel">84</strong>
				<p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
			</li>
		</ul>
	</div>
</section>