<div class="modals-locations__backdrop is-hidden" data-modal>
	<div class="modals-locations__modal">
		<button
			type="button"
			class="modals-locations__btn-close button"
			data-modal-close
		>
			<svg class="modals-locations__btn-close_icon">
				<use href="./images/contacts__modals/sprite.svg#icon-close"></use>
			</svg>
		</button>

		<h2 class="modals-locations__title">ICECREAMS SHOPS</h2>
		<address class="modals-locations__address">
			<ul class="modals-locations__address-list list">
				<li class="modals-locations__address-item">
					<h3 class="modals-locations__address-pretitle">Kiev</h3>
					<p class="modals-locations__address-text">
						21 Marshala Timoshenko Street
					</p>
					<ul class="modals-locations__contacts">
						<li class="modals-locations__contacts-item">
							<a
								href="tel:+380961234567"
								class="link modals-locations__contacts-link"
								>+38 096 123 45 67</a
							>
						</li>
						<li class="modals-locations__contacts-item">
							<a
								href="mailto:kiev@icecream.com"
								class="link modals-locations__contacts-link"
								>kiev@icecream.com</a
							>
						</li>
					</ul>
				</li>
			</ul>

			<div class="modals-locations__map">
				<iframe
					src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1268.5655458463712!2d30.49338108355724!3d50.513127603491796!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4d26ca0a6147f%3A0x857be9801b7a8ff2!2z0YPQuy4g0JzQsNGA0YjQsNC70LAg0KLQuNC80L7RiNC10L3QutC-LCAyMSwg0JrQuNC10LIsIDA0MjEy!5e0!3m2!1sru!2sua!4v1636830534426!5m2!1sru!2sua"
					width="600"
					height="450"
					style="border: 0"
					allowfullscreen=""
					loading="lazy"
				></iframe>
			</div>
		</address>
	</div>
</div>
