<section id="contacts" class="contacts">
	<div class="container contacts__container">
		<div class="cards_container">
			<ul class="contacts__cards">
				<li class="contacts__card wow animate__jackInTheBox">
					<p class="contacts__title">CAFE</p>
					<p class="contacts__subtitle">Chicago</p>
					<p class="contacts__text">
						Fusce ut velit laoreet, tempus arcu molestie vulputate
					</p>

					<ul class="contacts__thumb">
						<li class="contacts__days">Monday - Friday</li>
						<li class="contacts__time">06:00 AM - 10:00 PM</li>
						<li class="contacts__days">Saturday - Sunday</li>
						<li class="contacts__time">08:00 AM - 16:00 PM</li>
					</ul>

					<ul class="contacts__list">
						<li class="contacts__item">
							<a href="tel:+61(0)383766284" class="contacts__link"
								>+61(0) 383 766 284</a
							>
						</li>
						<li class="contacts__item">
							<a href="mailto:noreply@envato.com" class="contacts__link"
								>noreply@envato.com</a
							>
						</li>
					</ul>
				</li>

				<li class="contacts__card wow animate__jackInTheBox">
					<p class="contacts__title contacts__title--green">FOODTRUCK</p>
					<p class="contacts__subtitle">Los Angeles</p>
					<p class="contacts__text">
						Fusce ut velit laoreet, tempus arcu molestie vulputate
					</p>

					<ul class="contacts__thumb">
						<li class="contacts__days">Monday - Friday</li>
						<li class="contacts__time">06:00 AM - 10:00 PM</li>
						<li class="contacts__days">Saturday - Sunday</li>
						<li class="contacts__time">08:00 AM - 16:00 PM</li>
					</ul>

					<ul class="contacts__list">
						<li class="contacts__item">
							<a href="tel:+61(0)383766284" class="contacts__link"
								>+61(0) 383 766 284</a
							>
						</li>
						<li class="contacts__item">
							<a href="mailto:noreply@envato.com" class="contacts__link"
								>noreply@envato.com</a
							>
						</li>
					</ul>
				</li>

				<li class="contacts__card wow animate__jackInTheBox">
					<p class="contacts__title">CAFE</p>
					<p class="contacts__subtitle">New York</p>
					<p class="contacts__text">
						Fusce ut velit laoreet, tempus arcu molestie vulputate
					</p>

					<ul class="contacts__thumb">
						<li class="contacts__days">Monday - Friday</li>
						<li class="contacts__time">06:00 AM - 10:00 PM</li>
						<li class="contacts__days">Saturday - Sunday</li>
						<li class="contacts__time">08:00 AM - 16:00 PM</li>
					</ul>

					<ul class="contacts__list">
						<li class="contacts__item">
							<a href="tel:+61(0)383766284" class="contacts__link"
								>+61(0) 383 766 284</a
							>
						</li>
						<li class="contacts__item">
							<a href="mailto:noreply@envato.com" class="contacts__link"
								>noreply@envato.com</a
							>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="contacts__wrapper">
			<button
				type="button"
				class="btn btn-red wow animate__bounceInLeft"
				data-modal-location-open
			>
				Our Locations >
			</button>
			<button type="button" class="btn btn-white wow animate__bounceInRight">
				Franchise >
			</button>
		</div>
	</div>
</section>
