<div class="contaier">
	<div class="swiper">
		<!-- Additional required wrapper -->
		<div class="swiper-wrapper">
			<!-- Slides -->
			<div class="swiper-slide">
				<p>
					Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
					Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
					ipsum primis in nibh vel risus.
				</p>
			</div>
			<div class="swiper-slide">
				<p>
					In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in
					nibh vel risus.
				</p>
			</div>
			<div class="swiper-slide">
				<p>Quisque cursus et, porttitor risus. Aliquam sem.</p>
			</div>
		</div>
		<!-- If we need pagination -->
		<div class="swiper-pagination"></div>

		<!-- If we need navigation buttons -->
		<!-- <div class="swiper-button-prev"></div>
		<div class="swiper-button-next"></div> -->

		<!-- If we need scrollbar -->
		<!-- <div class="swiper-scrollbar"></div> -->
	</div>
</div>
