<div class="container customer_reviews">
	<div class="swiper">
		<!-- Additional required wrapper -->
		<ul class="swiper-wrapper">
			<!-- Slides -->
			<li class="swiper-slide">
				<img
					class="swiper-image"
					src="./images/customer__reviews/user1-desk.jpg"
					alt="Фото Пользователя"
				/>
				<div class="swiper-wraper">
					<p class="swiper-text">
						Съел 3 килограма мороженого чтобы полностью погрузить в этот проект.
						IceCream лучшее мороженое которое когда либо я пробовал!!!
					</p>
				</div>
				<div><span></span></div>
				<p class="swiper-location"></p>
			</li>
			<li class="swiper-slide">2</li>
			<li class="swiper-slide">3</li>
			<li class="swiper-slide">4</li>
			<li class="swiper-slide">5</li>
			<li class="swiper-slide">6</li>
			<li class="swiper-slide">7</li>
			<li class="swiper-slide">8</li>
			<li class="swiper-slide">9</li>
		</ul>
		<!-- If we need pagination -->
		<div class="swiper-pagination"></div>

		<!-- If we need navigation buttons -->
		<div class="swiper-button-prev"></div>
		<div class="swiper-button-next"></div>

		<!-- If we need scrollbar -->
		<div class="swiper-scrollbar"></div>
	</div>
</div>
