<section id="customer__reviews" class="customer_reviews">
	<div class="container">
	<div class="swiper slider wow animate__tada">
		<!-- Additional required wrapper -->
		<div class="swiper-wrapper">
			<!-- Slides -->
			<div class="swiper-slide">
				<picture>
					<source
						srcset="
							./images/customer__reviews/user1-desk.jpg    1x,
							./images/customer__reviews/user1-desk-2x.jpg 2x
						"
						media="(min-width: 1280px)"
					/>
					<source
						srcset="
							./images/customer__reviews/user1-tab.jpg 1x,
							./images/customer__reviews/user1-tab-2x.jpg 2x
						"
						media="(min-width: 768px)"
					/>
					<source
						srcset="
							./images/customer__reviews/user1-mob.jpg    1x,
							./images/customer__reviews/user1-mob-2x.jpg 2x
						"
						media="(min-width: 320px)"
					/>
					<img
						class="reviews-user"
						src="./images/customer__reviews/user1-desk.jpg"
						alt="Фото Пользователя"
						width="85px"
						height="85px"
					/>
				</picture>
				<div class="reviews-wrapper">

					<div class="reviews-comment">
						<div class="reviews-gradient">
							<img
								class="reviews-decorhook"
								src="./images/customer__reviews/hook.png"
								alt="Ковычки"
							/>
							<p class="reviews-text">
								Ate 3 kilos of ice cream and was very inspired by this
								project!!! I recommend them!!!! Ate 3 kilos of ice cream and was
								very inspired by this project!!! I recommend them!!!! Ate 3
								kilos of ice cream and was very inspired by this project!!! I
								recommend them!!!! Ate 3 kilos of ice cream and was very
								inspired by this project!!! I recommend them!!!!
							</p>
						</div>	
					</div>
				</div>
				<div class="reviews-decordots">
					<div class="reviews-dots"></div>
					<div class="reviews-dots"></div>
					<div class="reviews-dots"></div>
				</div>
				<p class="reviews-location">Marina, Kharkov, Ukrain</p>
			</div>
			<div class="swiper-slide">
				<picture>
					<source
						srcset="
							./images/customer__reviews/user2-desk.jpg    1x,
							./images/customer__reviews/user2-desk-2x.jpg 2x
						"
						media="(min-width: 1280px)"
					/>
					<source
						srcset="
							./images/customer__reviews/user2-tab.jpg    1x,
							./images/customer__reviews/user2-tab-2x.jpg 2x
						"
						media="(min-width: 768px)"
					/>
					<source
						srcset="
							./images/customer__reviews/user2-mob.jpg    1x,
							./images/customer__reviews/user2-mob-2x.jpg 2x
						"
						media="(min-width: 320px)"
					/>
					<img
						class="reviews-user"
						src="./images/customer__reviews/user2-desk.jpg"
						alt="Фото Пользователя"
						width="85px"
						height="85px"
					/>
				</picture>
				<div class="reviews-wrapper">
					<div class="reviews-comment">
						<div class="reviews-gradient">
							<img
								class="reviews-decorhook"
								src="./images/customer__reviews/hook.png"
								alt="Ковычки"
							/>
							<p class="reviews-text">
								It's freshly made ice cream. The best place to have ice cream in my city. The quality is good and worth its price . Hope the price don't increase
							</p>
						</div>		
					</div>
				</div>
				<div class="reviews-decordots">
					<div class="reviews-dots"></div>
					<div class="reviews-dots"></div>
					<div class="reviews-dots"></div>
				</div>
				<p class="reviews-location">Natasha, Kiev, Ukraine</p>
			</div>
			<div class="swiper-slide">
				<picture>
					<source
						srcset="
							./images/customer__reviews/user3-desk.jpg    1x,
							./images/customer__reviews/user3-desk-2x.jpg 2x
						"
						media="(min-width: 1280px)"
					/>
					<source
						srcset="
							./images/customer__reviews/user3-tab.jpg    1x,
							./images/customer__reviews/user3-tab-2x.jpg 2x
						"
						media="(min-width: 768px)"
					/>
					<source
						srcset="
							./images/customer__reviews/user3-mob.jpg    1x,
							./images/customer__reviews/user3-mob-2x.jpg 2x
						"
						media="(min-width: 320px)"
					/>
					<img
						class="reviews-user"
						src="./images/customer__reviews/user3-desk.jpg"
						alt="Фото Пользователя"
						width="85px"
						height="85px"
					/>
				</picture>
				<div class="reviews-wrapper">
					<div class="reviews-comment">
						<div class="reviews-gradient">
							<img
								class="reviews-decorhook"
								src="./images/customer__reviews/hook.png"
								alt="Ковычки"
							/>
							<p class="reviews-text">
								Nothing beats this flavour. A wafer cone of Vanilla flavoured rich creamy ice cream, with a thick caramel ribbon running through it and crunchy tasty praline coated pecan nuts.... Yummy!! Oh!!!Dont forget to top the cone with a bit more nutty delight!!! Its a perfect treat to your senses!!
							</p>
						</div>
					</div>
				</div>
				<div class="reviews-decordots">
					<div class="reviews-dots"></div>
					<div class="reviews-dots"></div>
					<div class="reviews-dots"></div>
				</div>
				<p class="reviews-location">Julia, Odessa, Ukraine</p>
			</div>
			<div class="swiper-slide">
				<picture>
					<source
						srcset="
							./images/customer__reviews/user1-desk.jpg    1x,
							./images/customer__reviews/user1-desk-2x.jpg 2x
						"
						media="(min-width: 1280px)"
					/>
					<source
						srcset="
							./images/customer__reviews/user1-tab.jpg 1x,
							./images/customer__reviews/user1-tab-2x.jpg 2x
						"
						media="(min-width: 768px)"
					/>
					<source
						srcset="
							./images/customer__reviews/user1-mob.jpg    1x,
							./images/customer__reviews/user1-mob-2x.jpg 2x
						"
						media="(min-width: 320px)"
					/>
					<img
						class="reviews-user"
						src="./images/customer__reviews/user1-desk.jpg"
						alt="Фото Пользователя"
						width="85px"
						height="85px"
					/>
				</picture>
				<div class="reviews-wrapper">
					<div class="reviews-comment">
						<div class="reviews-gradient">
							<img
								class="reviews-decorhook"
								src="./images/customer__reviews/hook.png"
								alt="Ковычки"
							/>
							<p class="reviews-text">
								Ate 3 kilos of ice cream and was very inspired by this
								project!!! I recommend them!!!! Ate 3 kilos of ice cream and was
								very inspired by this project!!! I recommend them!!!! Ate 3
								kilos of ice cream and was very inspired by this project!!! I
								recommend them!!!! Ate 3 kilos of ice cream and was very
								inspired by this project!!! I recommend them!!!!
							</p>
						</div>
					</div>
				</div>
				<div class="reviews-decordots">
					<div class="reviews-dots"></div>
					<div class="reviews-dots"></div>
					<div class="reviews-dots"></div>
				</div>
				<p class="reviews-location">Marina, Kharkov, Ukrain</p>
			</div>
			<div class="swiper-slide">
				<picture>
					<source
						srcset="
							./images/customer__reviews/user2-desk.jpg    1x,
							./images/customer__reviews/user2-desk-2x.jpg 2x
						"
						media="(min-width: 1280px)"
					/>
					<source
						srcset="
							./images/customer__reviews/user2-tab.jpg    1x,
							./images/customer__reviews/user2-tab-2x.jpg 2x
						"
						media="(min-width: 768px)"
					/>
					<source
						srcset="
							./images/customer__reviews/user2-mob.jpg    1x,
							./images/customer__reviews/user2-mob-2x.jpg 2x
						"
						media="(min-width: 320px)"
					/>
					<img
						class="reviews-user"
						src="./images/customer__reviews/user2-desk.jpg"
						alt="Фото Пользователя"
						width="85px"
						height="85px"
					/>
				</picture>
				<div class="reviews-wrapper">
					<div class="reviews-comment">
						<div class="reviews-gradient">
							<img
								class="reviews-decorhook"
								src="./images/customer__reviews/hook.png"
								alt="Ковычки"
							/>
							<p class="reviews-text">
								It's freshly made ice cream. The best place to have ice cream in my city. The quality is good and worth its price . Hope the price don't increase
							</p>
						</div>
					</div>
				</div>
				<div class="reviews-decordots">
					<div class="reviews-dots"></div>
					<div class="reviews-dots"></div>
					<div class="reviews-dots"></div>
				</div>
				<p class="reviews-location">Natasha, Kiev, Ukraine</p>
			</div>
			<div class="swiper-slide">
				<picture>
					<source
						srcset="
							./images/customer__reviews/user3-desk.jpg    1x,
							./images/customer__reviews/user3-desk-2x.jpg 2x
						"
						media="(min-width: 1280px)"
					/>
					<source
						srcset="
							./images/customer__reviews/user3-tab.jpg    1x,
							./images/customer__reviews/user3-tab-2x.jpg 2x
						"
						media="(min-width: 768px)"
					/>
					<source
						srcset="
							./images/customer__reviews/user3-mob.jpg    1x,
							./images/customer__reviews/user3-mob-2x.jpg 2x
						"
						media="(min-width: 320px)"
					/>
					<img
						class="reviews-user"
						src="./images/customer__reviews/user3-desk.jpg"
						alt="Фото Пользователя"
						width="85px"
						height="85px"
					/>
				</picture>
				<div class="reviews-wrapper">
					<div class="reviews-comment">
						<div class="reviews-gradient">
							<img
								class="reviews-decorhook"
								src="./images/customer__reviews/hook.png"
								alt="Ковычки"
							/>
							<p class="reviews-text">
								Nothing beats this flavour. A wafer cone of Vanilla flavoured rich creamy ice cream, with a thick caramel ribbon running through it and crunchy tasty praline coated pecan nuts.... Yummy!! Oh!!!Dont forget to top the cone with a bit more nutty delight!!! Its a perfect treat to your senses!!
							</p>
						</div>
					</div>
				</div>
				<div class="reviews-decordots">
					<div class="reviews-dots"></div>
					<div class="reviews-dots"></div>
					<div class="reviews-dots"></div>
				</div>
				<p class="reviews-location">Julia, Odessa, Ukraine</p>
			</div>
		</div>
		<!-- If we need pagination -->
		<div class="swiper-pagination"></div>
	</div>
	</div>
</section>
