<footer class="footer">

    <div class="container footer__container">


        <p class="footer__text">
            Homemade ice cream made
        </p>

        <h3 class="footer__title">
            with passion
        </h3>

        <ul class="footer__icon">
            <li>
                <a href="https://github.com/" class="footer__link-icon" target="_blank">
                    <svg class="footer__icon-toils" width=32 height=32>

                        <use href="./images/footer/footer.svg#icon-github"></use>
                      
                    </svg>
                </a>
            </li>
            <li>
                <a href="https://web.telegram.org/k/" class="footer__link-icon">
                    <svg class="footer__icon-toils" width=32 height=32>

                        <use href="./images/footer/footer.svg#icon-telegram"></use>

                    </svg>
                </a>
            </li>
            <li>
                <a href="https://ru-ru.facebook.com/" class="footer__link-icon">
                    <svg class="footer__icon-toils" width=32 height=32>

                        <use href="./images/footer/footer.svg#icon-facebook"></use>

                       

                    </svg>
                </a>
            </li>
        </ul>

        <address class="footer__contact">
            <a class="footer__tel" href="tel:+61(0)383766284"> <span class="footer__contact-text">Feel free to
                    contact</span> +61 (0) 383 766 284</a>

        </address>

        <div class="footer__bord"></div>


        <p class="footer__contact-copyright">&#169;2019 - IceCream.</p>
        <p class="footer__contact-copyright copyright-second">All Rights Reserved.</p>


    </div>

</footer>