
<!-- Gallery Section -->

<section class="gallery-section">`

    <!-- Container with animation in start -->

    <div class="gallery container wow animate__zoomInDown">


        <!-- First gallery-image, only wich pull-down -->

    <div class="thumb first-elem wow animate__hinge">
        <img class="gallery__img"      
            src="./images/gallery/140w/image1_140-min.png" 
            alt=""
            srcset="./images/gallery/140w/image1_140-min.png 1x, ./images/gallery/280w/image1_280-min.png 2x"
        > 
    </div>


    <div>
        <div class="thumb">
            <img class="gallery__img mb" 
                src="./images/gallery/140w/image2_140-min.png" 
                alt=""
                srcset="./images/gallery/140w/image2_140-min.png 1x, ./images/gallery/280w/image2_280-min.png 2x"
            >
        </div>    
        <div class="thumb">
            <img class="gallery__img" 
                src="./images/gallery/140w/image3_140-min.png" 
                alt=""
                srcset="./images/gallery/140w/image3_140-min.png 1x, ./images/gallery/280w/image3_280-min.png 2x"
            >
        </div>    
    </div>

    <!-- Block with Big and small images -->

   <div class="upper-block">
        <div class="thumb-big">
            <img 
                class="gallery__img" 
                src="./images/gallery/140w/image10_140-min.png"
                srcset="./images/gallery/140w/image10_140-min.png 1x, ./images/gallery/280w/image10_280-min.png 2x"
                alt=""
            >
        </div>

        <div class="thumb thumb-under">
            <img 
                class="gallery__img" 
                src="./images/gallery/140w/image4_140-min.png" 
                alt=""
                srcset="./images/gallery/140w/image4_140-min.png 1x, ./images/gallery/280w/image4_280-min.png 2x"
            >
        </div>
    </div>

    <div>
        <div class="thumb">
            <img 
                class="gallery__img mb"  
                src="./images/gallery/140w/image6_140-min.png" 
                alt=""
                srcset="./images/gallery/140w/image6_140-min.png 1x, ./images/gallery/280w/image6_280-min.png 2x"
            >
        </div>
        <div class="thumb"> 
            <img
                src="./images/gallery/140w/image5_140-min.png" 
                class="gallery__img"
                alt=""
                srcset="./images/gallery/140w/image5_140-min.png 1x, ./images/gallery/280w/image5_280-min.png 2x"
            >
        </div>
    </div>

    <div class="up-block">
        <div class="thumb mb">
            <img 
                class="gallery__img"
                src="./images/gallery/140w/image7_140-min.png" 
                alt=""
                srcset="./images/gallery/140w/image7_140-min.png 1x, ./images/gallery/280w/image7_280-min.png 2x"
            >
        </div>
        <div class="thumb">
            <img 
                class="gallery__img" 
                src="./images/gallery/140w/image8_140-min.png" 
                alt=""
                srcset="./images/gallery/140w/image8_140-min.png 1x, ./images/gallery/280w/image8_280-min.png 2x"
            >
        </div>
    </div>

    <div class="thumb last-elem">
        <img
            class="gallery__img" 
            src="./images/gallery/140w/image9_140-min.png"
            alt=""
            srcset="./images/gallery/140w/image9_140-min.png 1x, ./images/gallery/280w/image9_280-min.png 2x"
        >
    </div>

</div>
</section>