
<section class="gallery-section container">
    <div class="thumb first-elem">
        <img src="./images/gallery/140w/gallery-pic1_140w-min.jpg" alt=""> 
    </div>

    <div class="thumb with-after">
        <img class="mb" src="./images/gallery/140w/gallery-pic2_140w-min.jpg" alt="">
        <img src="./images/gallery/140w/gallery-pic3_140w-min.jpg" alt="">
    </div>

    <div class="big-small-block">
        <div class="thumb thumb-big">
            <img src="./images/gallery/140w/gallery-pic10_140w-min.jpg" alt="">
        </div>
        <div class="thumb thumb-under">
            <img src="./images/gallery/140w/gallery-pic4_140w-min.jpg" alt="">
        </div>
    </div>

    <div class="thumb">
        <img class="mb" src="./images/gallery/140w/gallery-pic6_140w-min.jpg" alt="">
        <img src="./images/gallery/140w/gallery-pic5_140w-min.jpg" alt="">
    </div>
    <div class="thumb up-block">
        <img class="mb" src="./images/gallery/140w/gallery-pic7_140w-min.jpg" alt="">
        <img src="./images/gallery/140w/gallery-pic8_140w-min.jpg" alt="">
    </div>
    <div class="thumb last-elem">
        <img src="./images/gallery/140w/gallery-pic9_140w-min.jpg" alt="">
    </div>
</section>