<div class="backdrop is-hidden" data-modal data-modal-menu>
	<div class="modal">
		<button class="modal__button" type="button" data-modal-close>
			<svg class="modal__cross" width="12" height="12">
				<use href="./images/header__modal/symbol-defs.svg#icon-close"></use>
			</svg>
		</button>
		<div class="modal__padding">
			<p class="modal__text">Купите прямо сейчас!</p>
			<form action="#" name="name" class="modal-form">
				<label for="#" class="modal-form__label">
					<span class="input__wrapper">
						<input
							type="text"
							class="modal-form__input"
							required
							placeholder="Ваше имя"
						/>
						<svg class="modal__icon" width="18" height="18">
							<use
								href="./images/header__modal/symbol-defs.svg#modal-name"
							></use>
						</svg>
					</span>
				</label>

				<label for="#" class="modal-tel-label modal-form__label">
					<span class="input__wrapper">
						<input
							type="tel"
							class="modal-form__input"
							required
							placeholder="Ваш телефон"
						/>
						<svg class="modal__icon" width="18" height="18">
							<use
								href="./images/header__modal/symbol-defs.svg#modal-tel"
							></use>
						</svg>
					</span>
				</label>

				<label for="#" class="modal-form__label">
					<span class="input__wrapper">
						<input
							type="email"
							class="modal-form__input"
							placeholder="Ваша почта (необязательно)"
						/>
						<svg class="modal__icon" width="18" height="18">
							<use
								href="./images/header__modal/symbol-defs.svg#modal-email"
							></use>
						</svg>
					</span>
				</label>

				<div class="wrapper-select">
					<div class="select-flex">
						<label for="size">Вкус мороженого</label>
						<div class="select" data-state="">
							<div class="select__title" data-default="Выберите вкус">
								Выберите вкус
							</div>
							<div class="select__content">
								<input
									id="singleSelect0"
									class="select__input"
									type="radio"
									name="singleSelect"
									checked
								/>
								<label for="singleSelect0" class="select__label"
									>Выберите вкус</label
								>
								<input
									id="singleSelect1"
									class="select__input"
									type="radio"
									name="singleSelect"
								/>
								<label for="singleSelect1" class="select__label"
									>Фисташковое</label
								>
								<input
									id="singleSelect2"
									class="select__input"
									type="radio"
									name="singleSelect"
								/>
								<label for="singleSelect2" class="select__label"
									>Банановое</label
								>
								<input
									id="singleSelect3"
									class="select__input"
									type="radio"
									name="singleSelect"
								/>
								<label for="singleSelect3" class="select__label"
									>Шоколадное</label
								>
								<input
									id="singleSelect4"
									class="select__input"
									type="radio"
									name="singleSelect"
								/>
								<label for="singleSelect4" class="select__label"
									>Малиновое</label
								>
							</div>
						</div>
					</div>
				</div>

				<div class="checkbox-wrapper">
					<input
						type="checkbox"
						class="modal-checkbox visually-hidden"
						id="modal-checkbox"
						required
					/>
					<label for="modal-checkbox" class="label__checkbox">
						<!-- <span>
							<svg class="check_icon" width="11" height="8">
								<use
									href="./images/header__modal/symbol-defs.svg#checkmark"
								></use>
							</svg>
						</span> -->
						Соглашаюсь с рассылкой и принимаю&#160;<a href="#"
							>Условия договора</a
						></label
					>
				</div>
				<button type="submit" class="btn modal__btn">Отправить</button>
			</form>
		</div>
	</div>
</div>

<script src="./js/modal-select.js"></script>
