<header class="header-hero">
	<div class="container main-nav">
		<nav class="header-hero__nav">
			<a href="./index.html" class="logo">
				<img src="./images/header__hero/logo.png" alt="company logo" />
			</a>
			<ul class="header-hero__navigation-list">
				<li class="header-hero__navigation-item">
					<a href="./index.html" class="header-hero__navigation-link link"
						>Home</a
					>
				</li>
				<li class="header-hero__navigation-item">
					<a href="#Advantages" class="header-hero__navigation-link link"
						>About us</a
					>
				</li>
				<li class="header-hero__navigation-item">
					<a href="#About" class="header-hero__navigation-link link"
						>How it’s made?</a
					>
				</li>
				<li class="header-hero__navigation-item">
					<a href="#Products" class="header-hero__navigation-link link"
						>Our products</a
					>
				</li>
				<li class="header-hero__navigation-item">
					<a href="#Contacts" class="header-hero__navigation-link link"
						>Contact</a
					>
				</li>
			</ul>
			<button type="button" class="header-hero__button">Buy now ></button>
		</nav>
		<div class="header-hero__title-container">
			<h1 class="header-hero__title">dtghfhfh</h1>
			<ul class="header-hero__title-buttons">
				<li>
					<button type="button" class="header-hero__title-btn">sdfsdf</button>
				</li>
				<li>
					<button type="button" class="header-hero__title-btn">sdfsdf</button>
				</li>
			</ul>
		</div>
	</div>
</header>
