<header class="header-hero">
	<div class="container header-hero__container">
		<nav class="header-hero__nav">
			<a href="./index.html" class="logo">
				<img src="./images/header__hero/logo.png" alt="company logo" />
			</a>
			<ul class="header-hero__navigation-list">
				<li class="header-hero__navigation-item">
					<a href="./index.html" class="header-hero__navigation-link link"
						>Home</a
					>
				</li>
				<li class="header-hero__navigation-item">
					<a href="#Advantages" class="header-hero__navigation-link link"
						>About us</a
					>
				</li>
				<li class="header-hero__navigation-item">
					<a href="#About" class="header-hero__navigation-link link"
						>How it’s made?</a
					>
				</li>
				<li class="header-hero__navigation-item">
					<a href="#Products" class="header-hero__navigation-link link"
						>Our products</a
					>
				</li>
				<li class="header-hero__navigation-item">
					<a href="#Contacts" class="header-hero__navigation-link link"
						>Contact</a
					>
				</li>
			</ul>
			<button type="button" class="header-hero__burger">
				<svg class="header-hero__icon-menu" width="20" height="12">
					<use href="./images/header__hero/symbol-defs.svg#icon-burger"></use>
				</svg>
			</button>
			<button type="button" class="header-hero__button">Buy now ></button>
		</nav>
		<div class="header-hero__title-container">
			<h1 class="header-hero__title">
				<span class="header-hero__title-partial1">ice cream made with</span
				><span class="header-hero__title-partial2">passion</span>
			</h1>
			<ul class="header-hero__title-buttons">
				<li>
					<button type="button" class="header-hero__title-btn1">
						Products
					</button>
				</li>
				<li>
					<button type="button" class="header-hero__title-btn2">
						How it’s made?
					</button>
				</li>
			</ul>
		</div>
		<div class="header-hero__adv-card">
			<div>
				<picture class="milk-pic">
					<source
						srcset="./images/header__hero/milk-pic_t.png"
						media="(max-width: 1199px)"
					/>
					<source
						srcset="./images/header__hero/milk-pic_d.png"
						media="(min-width: 1200px)"
					/>
					<img src="./images/header__hero/milk-pic_d.png" alt="milk picture" />
				</picture>
			</div>
			<div class="header-hero__advertisement">
				<p class="header-hero__advertisement-text">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
					eiusmod tempor incididunt ut labore et
				</p>
				<picture>
					<source
						srcset="./images/header__hero/arrow-right_t.png"
						media="(max-width: 1199px)"
					/>
					<source
						srcset="./images/header__hero/arrow-right_d.png"
						media="(min-width: 1200px)"
					/>
					<img
						src="./images/header__hero/arrow-right_d.png"
						alt="advertisement arrow"
					/>
				</picture>
			</div>
		</div>
		<div class="company-abouts-1">
			<div class="company-abouts-1__circle"></div>
			<p class="company-abouts-1__num">16</p>
			<p class="company-abouts-1__text">cafes</p>
		</div>

		<div class="company-abouts-2">
			<div class="company-abouts-2__circle"></div>
			<p class="company-abouts-2__num">23</p>
			<p class="company-abouts-2__text">food trucks</p>
		</div>
		<div class="header-hero__circle"></div>

		<picture class="ice-cream-pic">
			<source
				srcset="./images/header__hero/ice-cream-pic_m.png"
				media="(max-width: 767px)"
			/>
			<source
				srcset="./images/header__hero/ice-cream-pic_t.png"
				media="(max-width: 1199px)"
			/>
			<source
				srcset="
					./images/header__hero/ice-cream-pic_d.png    1x,
					./images/header__hero/ice-cream-pic_test.png 2x
				"
				media="(min-width: 1200px)"
			/>
			<img
				src="./images/header__hero/ice-cream-pic_d.png"
				alt="delicious ice-cream picture"
			/>
		</picture>

		<picture class="girl-pic">
			<source
				srcset="./images/header__hero/girl-pic_t.png"
				media="(max-width: 1199px)"
			/>
			<source
				srcset="./images/header__hero/girl-pic_d.png"
				media="(min-width: 1200px)"
			/>
			<img
				src="./images/header__hero/girl-pic_d.png"
				alt="a very happy girl eating delicious ice-cream"
			/>
		</picture>
	</div>
</header>
