<div class="mobile-menu js-menu-container" id="mobile-menu">
	<div class="mobile-menu__container">
		<button class="mobile-menu__close js-close-menu">
			<svg class="mobile-menu__icon-close" width="14" height="14">
				<use
					href="./images/mobile__menu/symbol-defs.svg#icon-mobile-menu-close"
				></use>
			</svg>
		</button>
		<button class="mobile-menu__btn" type="button" data-modal-menu-open>
			Buy now
		</button>
		<nav class="mobile-menu__nav">
			<ul class="mobile-menu__nav-list">
				<li class="mobile-menu__nav-item">
					<a href="./index.html" class="mobile-menu__nav-link link">Home</a>
				</li>
				<li class="mobile-menu__nav-item">
					<a href="#customer__reviews" class="mobile-menu__nav-link link"
						>About us</a
					>
				</li>
				<li class="mobile-menu__nav-item">
					<a href="#about" class="mobile-menu__nav-link link">How it’s made?</a>
				</li>
				<li class="mobile-menu__nav-item">
					<a href="#products" class="mobile-menu__nav-link link"
						>Our products</a
					>
				</li>
				<li class="mobile-menu__nav-item">
					<a href="#contacts" class="mobile-menu__nav-link link">Contact</a>
				</li>
			</ul>
		</nav>
	</div>
</div>
