<div class="products__backdrop products__backdrop_is-hidden" data-modal-products-icecream>
    <div class="modal__products modal__products-icecream">
        <button class="products__modal_btn" type="button" data-modal-products-icecream-close>
            <svg class="products__btn_icon products__btn_icon-close">
                <use href="./images/products/sprite.svg#icon-close-black"></use>
            </svg>
        </button>
        <h2 class="products__modal__title">Ice-Cream</h2>
        <p class="products__modal_subtitle">Types of ice-cream</p>
        <ul>
            <li class="products__modal_item">сream</li>
            <li class="products__modal_item">dairy and plam</li>
            <li class="products__modal_item">frozen juice or popsicles</li>
            <li class="products__modal_item">sherbet</li>
            <li class="products__modal_item">sorbet</li>
        </ul>
    </div>
</div> 


<div class="products__backdrop products__backdrop_is-hidden" data-modal-products-icecoffee>
    <div class="modal__products modal__products-icecoffee">
        <button class="products__modal_btn" type="button" data-modal-products-icecoffee-close>
            <svg class="products__btn_icon products__btn_icon-close">
                <use href="./images/products/sprite.svg#icon-close-black"></use>
            </svg>
        </button>
        <h2 class="products__modal__title">Ice-Coffee</h2>
        <p class="products__modal_subtitle">Types of ice-coffe</p>
        <ul>
            <li class="products__modal_item products__modal_item_coffee">on cold water</li>
            <li class="products__modal_item products__modal_item_coffee">concentrated in cubes</li>
            <li class="products__modal_item products__modal_item_coffee">in vietnamese</li>
        </ul>
    </div>
</div>

<div class="products__backdrop products__backdrop_is-hidden" data-modal-products-milkshake>
    <div class="modal__products modal__products-milkshake">
        <button class="products__modal_btn" type="button" data-modal-products-milkshake-close>
            <svg class="products__btn_icon products__btn_icon-close">
                <use href="./images/products/sprite.svg#icon-close-black"></use>
            </svg>
        </button>
        <h2 class="products__modal__title">Milkshakes</h2>
        <p class="products__modal_subtitle products__modal_subtitle_milkshake">Milkshakes are mixed drinks
            prepared both on the basis of whole milk
            and various dairy products: </p>
        <ul>
            <li class="products__modal_item products__modal_item_milkshake">cream or ice-cream</li>
            <li class="products__modal_item products__modal_item_milkshake">yogurt</li>
            <li class="products__modal_item products__modal_item_milkshake">condensed milk an others</li>
        </ul>
    </div>
</div>