<section class="products" id="products">
    <div class="container">
        <p class="products__pre-title">100% natural</p>
        <h2 class="products__top-title products__top-title_margin">products</h2>
        <ul class="products__list">
            <li class="products__item">
                <div class="products__box wow animate__heartBeat">
                    <picture class="product__img ">
                        <source
                            srcset="./images/products/ice-cream-1x-desktop.png 1x, ./images/products/ice-cream-2x-desktop.png 2x"
                            media="(min-width: 1280px)">
                        <source
                            srcset="./images/products/ice-cream-1x-tab.png 1x, ./images/products/ice-cream-2x-tab.png 2x"
                            media="(min-width: 768px)">
                        <source
                            srcset="./images/products/ice-cream-1x-mob.png 1x, ./images/products/ice-cream-2x-mob.png 2x"
                            media="(min-width: 320px)">
                        <img src="/images/products/ice-cream-1x-desktop.png" alt="retina picture" class="product__img">
                    </picture>
                </div>
                <h3 class="products__name products__name_margin">ice cream</h3>
                <p class="products__text products__text_margin">Ice-cream is a high-calorie 
                    nutritious food that helps restore energy quickly.
                </p>
                <button type="button" class="products__btn" data-modal-products-icecream-open>
                    <svg class="products__btn_icon description-button__icon--big">
                        <use href="./images/products/sprite.svg#icon-forward"></use>
                    </svg>
                </button>

            </li>
            <li class="products__item">
                <div class="products__box wow animate__heartBeat">
                    <picture class="product__img">
                        <source
                            srcset="./images/products/ice-coffee-1x-desktop.png 1x, ./images/products/ice-coffee-2x-desktop.png 2x"
                            media="(min-width: 1280px)">
                        <source
                            srcset="./images/products/ice-coffee-1x-tab.png 1x, ./images/products/ice-coffee-2x-tab.png 2x"
                            media="(min-width: 768px)">
                        <source
                            srcset="./images/products/ice-coffee-1x-mob.png 1x, ./images/products/ice-coffee-2x-mob.png 2x"
                            media="(min-width: 320px)">
                        <img src="./images/products/ice-coffee-1x-desktop.png" alt="retina picture"
                            class="product__img">
                    </picture>
                </div>
                <h3 class="products__name products__name_margin">ice coffee</h3>
                <p class="products__text products__text_margin">
                    ice-coffee is a delicious drink 
                    which combines the softness of milk and a sightly bitter of coffee.
                </p>
                <button type="button" class="products__btn" data-modal-products-icecoffee-open>
                    <svg class="products__btn_icon">
                        <use href="./images/products/sprite.svg#icon-forward"></use>
                    </svg>
                </button>
            </li>
            <li class="products__item">
                <div class="products__box wow animate__heartBeat">
                    <picture class="product__img">
                        <source
                            srcset="./images/products/milkshakes-1x-desktop.png 1x, ./images/products/milkshakes-2x-desktop.png 2x"
                            media="(min-width: 1280px)">
                        <source
                            srcset="./images/products/milkshakes-1x-tab.png 1x, ./images/products/milkshakes-2x-tab.png 2x"
                            media="(min-width: 768px)">
                        <source
                            srcset="./images/products/milkshakes-1x-mob.png 1x, ./images/products/milkshakes-2x-mob.png 2x"
                            media="(min-width: 320px)">
                        <img src="/images/products/milkshakes-1x-desktop.png" alt="retina picture" class="product__img">
                    </picture>
                </div>
                <h3 class="products__name products__name_margin">milkshakes</h3>
                <p class="products__text products__text_margin">
                    Milkshake is a dessert drink based on milk and
                    ice-cream to which various syrups are added.
                 </p>
                <button type="button" class="products__btn" data-modal-products-milkshake-open>
                    <svg class="products__btn_icon">
                        <use href="./images/products/sprite.svg#icon-forward"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</section>
