.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.2);
	width: 100%;
	height: 100%;
	opacity: 1;
	z-index: 999;
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
	opacity: 0;
	pointer-events: none;
}

.modal-about {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 90%;
	min-height: 400px;
	border-radius: 4px;
	opacity: 1;
	transform: translate(-50%, -50%) scale(1);
	background-color: rgb(255, 219, 233);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
		opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

	@media screen and (min-width: $mobile) {
		width: 450px;
	}

	&__button {
		position: absolute;
		right: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		border: 1px solid rgba(0, 0, 0, 0.1);
		margin-top: 8px;
		margin-right: 8px;
		background-color: rgb(255, 219, 233);
		cursor: pointer;

		&:focus,
		&:hover {
			fill: var(--accent-and-text-color);
		}
	}

	&__wrapper {
		padding: 50px 20px;
	}

	&__wrapper-description {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin-bottom: 30px;

		@media screen and (min-width: $mobile) {
			margin-bottom: 55px;
		}
	}

	&__wrapper-description1 {
		display: flex;
		justify-content: flex-end;
	}

	&__img {
		position: absolute;
		width: 150px;
		height: 150px;
		top: 50px;
		right: 20px;

		@media screen and (min-width: $mobile) {
			width: 175px;
			height: 175px;
			top: 40px;
			right: 35px;
		}
	}

	&__img2 {
		position: absolute;
		width: 150px;
		height: 150px;
		bottom: 50px;
		left: 0px;

		@media screen and (min-width: 370px) {
			bottom: 72px;
			left: -3px;
		}

		@media screen and (min-width: $mobile) {
			width: 200px;
			height: 200px;
			left: 3px;
			bottom: 30px;
		}
	}

	&_black {
		@include fonts(1.62, 500, 12px, left, 0.04em, none);
		color: var(--second-text-color);
		width: 140px;
		position: relative;
		z-index: 1;

		@media screen and (min-width: 370px) {
			width: 200px;
			font-size: 14px;
		}
		@media screen and (min-width: $mobile) {
			width: 225px;
		}
	}

	&_white {
		@include fonts(1.62, 500, 12px, right, 0.04em, none);
		color: var(--second-text-color);
		position: relative;
		z-index: 1;
		width: 140px;

		@media screen and (min-width: 370px) {
			width: 200px;
			font-size: 13px;
		}

		@media screen and (min-width: $mobile) {
			width: 238px;
		}
	}
}
