.modals-locations {
	&__backdrop {
		position: fixed;
		top: 0;
		width: 100vw;
		height: 100vh;

		background-color: rgba(212, 19, 66, 0.6);

		z-index: 100;

		&.is-hidden {
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
		}
	}

	&__modal {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		width: 300px;
		height: 510px;
		padding: 20px;
		border-radius: 16px;

		background-color: var(--second-background-and-text-color);

		@media screen and (min-width: $mobile) {
			width: 450px;
			min-height: 600px;
			padding: 40px;
		}

		@media screen and (min-width: $desktop) {
			width: 600px;
			min-height: 600px;
		}
	}

	&__btn-close {
		position: absolute;
		top: 10px;
		right: 10px;

		width: 30px;
		height: 30px;

		background-color: var(--second-background-and-text-color);
		display: flex;
		border: 1px solid #f8bebe;
		border-radius: 50%;

		align-items: center;
		justify-content: center;
	}

	&__btn-close_icon {
		width: 12px;
		height: 12px;
		fill: #444444;

		transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

		& {
			.modals-locations__btn-close:hover &,
			.modals-locations__btn-close:focus & {
				fill: var(--accent-and-text-color);
			}
		}
	}

	&__title {
		display: block;
		font-family: Titan One;
		font-weight: 400;
		font-size: 30px;
		line-height: calc(41 / 36);
		text-transform: uppercase;
		text-align: center;
		color: var(--accent-and-text-color);

		margin-bottom: 25px;

		@media screen and (min-width: $mobile) {
			font-size: 36px;
			margin-bottom: 50px;
		}
	}

	&__address {
		font-style: normal;
	}

	&__address-pretitle {
		display: block;
		font-family: Titan One;
		font-weight: 400;
		font-size: 22px;
		line-height: calc(32 / 28);
		text-transform: uppercase;
		color: var(--accent-and-text-color);

		margin-bottom: 10px;

		@media screen and (min-width: $mobile) {
			font-size: 28px;
			margin-bottom: 15px;
		}
	}

	&__address-text {
		display: block;
		font-weight: 500;
		font-size: 14px;
		line-height: 1.4;
		color: var(--second-text-color);

		@media screen and (min-width: $mobile) {
			font-size: 16px;
		}
	}

	&__contacts-link {
		display: block;
		font-weight: 500;
		font-size: 14px;
		line-height: 1.4;
		color: var(--second-text-color);

		@media screen and (min-width: $mobile) {
			font-size: 16px;
		}
	}

	&__map iframe {
		position: absolute;
		bottom: 20px;
		left: 20px;
		height: 260px;
		width: 260px;

		@media screen and (min-width: $mobile) {
			bottom: 40px;
			left: 40px;
			height: 290px;
			width: 370px;
		}

		@media screen and (min-width: $desktop) {
			height: 290px;
			width: 520px;
		}
	}
}
