.contacts {
	// padding-top: 134px;
	@media screen and (min-width: $tablet) {
		// padding-top: 197px;
	}
	background-image: linear-gradient(
		to bottom,
		var(--second-background-and-text-color),
		var(--background-and-text-color),
		var(--second-background-and-text-color)
	);
	@media screen and (min-width: $desktop) {
		// padding-top: 234px;
		/*background-image: linear-gradient(to bottom, 
                                      rgba(var(--second-background-and-text-color), 0.4),                                  
                                      rgba(var(--background-and-text-color), 0.4),
                                      rgba(var(--second-background-and-text-color), 0.4),
                                      utr('../images/contact-bg.jpg'));*/
		background-image: linear-gradient(
				to bottom,
				rgba(#ffffff, 0.4),
				rgba(#ffb8ca, 0.4),
				rgba(#ffffff, 0.4)
			),
			url('/images/contact-bg.jpg');
		background-repeat: no-repeat;
		background-size: contain;
	}
}
.contacts__container {
	padding-right: 50px;
	padding-left: 50px;

	//padding-top: 86px;
	@media screen and (min-width: $tablet) {
		padding-right: 36px;
		padding-left: 36px;
		// padding-top: 119px;
	}
	@media screen and (min-width: $desktop) {
		padding-right: 50px;
		padding-left: 50px;
		// padding-top: 132px;
	}
}
.cards_container {
	// padding-top: -84px;
	// margin-top: -30%;
}
.contacts__cards {
	width: 100%;
	@media screen and (min-width: $tablet) {
		display: flex;
		flex-wrap: wrap;
		margin-left: -30px;
	}
}
.contacts__card {
	background: var(--second-background-and-text-color);
	box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
	border-radius: 24px;
	width: 100%;
	padding-bottom: 43px;
	margin-bottom: 20px;

	@media screen and (min-width: $tablet) {
		flex-basis: calc(100% / 3 - 30px);
		margin-left: 30px;
	}
}
.contacts__title {
	margin-left: 20px;
	margin-top: 43px;
	@include objectForm(80px, 20px, 4px);
	@include fonts(1.83, 500, 12px, center, 0.04em, none);
	display: inline-block;
	background-color: #f0d1a5;
	align-items: center;
	color: var(--second-background-and-text-color);

	@media screen and (min-width: $tablet) {
		margin-left: 31px;
		margin-top: 50px;
		padding-top: 0;
		padding-bottom: 10px;

		@include objectForm(73px, 28px, 6px);
		font-size: 14px;
		line-height: 1.87;
	}
	@media screen and (min-width: $desktop) {
		font-size: 16px;
		padding-bottom: 0;
	}
}
.contacts__title--green {
	width: 130px;
	background-color: #c2e297;
	@media screen and (min-width: $tablet) {
		width: 138px;
	}
}
.contacts__subtitle {
	padding-left: 20px;
	padding-top: 25px;
	@include fonts(1.83, 500, 12px, left, 0.04em, none);
	color: var(--second-text-color);
	@media screen and (min-width: $tablet) {
		@include fonts(1.87, 500, 14px, left, 0.04em, none);
		padding-left: 31px;
		padding-top: 32px;
	}
	@media screen and (min-width: $desktop) {
		font-size: 16px;
	}
}
.contacts__text {
	padding-left: 20px;
	padding-top: 10px;
	@include fonts(1.5, 500, 12px, left, 0.04em, none);
	color: #907e82;
	padding-bottom: 25px;
	@media screen and (min-width: $tablet) {
		padding-left: 31px;
		font-size: 14px;
		line-height: 1.87;
		padding-bottom: 32px;
	}
	@media screen and (min-width: $desktop) {
		font-size: 16px;
	}
}
.contacts__thumb {
	margin: 0px 20px;
	padding: 25px 0px;
	border-bottom: 1px solid #e1e1e1;
	border-top: 1px solid #e1e1e1;
	@media screen and (min-width: $tablet) {
		margin-left: 31px;
		padding-top: 32px;
		padding-bottom: 32px;
	}
}
.contacts__days {
	@include fonts(1.83, 500, 12px, left, 0.04em, none);
	color: var(--second-text-color);
	@media screen and (min-width: $tablet) {
		font-size: 14px;
		line-height: 1.87;
	}
	@media screen and (min-width: $desktop) {
		font-size: 16px;
	}
}
.contacts__time {
	@include fonts(1.83, 500, 12px, left, 0.04em, none);
	color: var(--first-text-color);
	@media screen and (min-width: $tablet) {
		font-size: 14px;
		line-height: 1.87;
	}
	@media screen and (min-width: $desktop) {
		font-size: 16px;
	}
}
.contacts__list {
	padding: 25px 0px 0px 20px;
	@media screen and (min-width: $tablet) {
		padding: 32px 0px 0px 31px;
	}
}
.contacts__link {
	@include fonts(1.5, 500, 12px, left, 0.04em, none);
	color: var(--third-text-color);
	@media screen and (min-width: $tablet) {
		@include fonts(1.87, 500, 14px, left, 0.04em, none);
	}
	@media screen and (min-width: $desktop) {
		font-size: 16px;
	}
}
.contacts__wrapper {
	margin-top: 54px;
	padding-bottom: 113px;

	@media screen and (min-width: $tablet) {
		@include centralFlex();
		padding-bottom: 158px;
		margin: 0 auto;
	}
	@media screen and (min-width: $desktop) {
		padding-bottom: 165px;
	}
}

.btn {
	display: block;

	@include objectForm(160px, 44px, 22px);
	@include fonts(1.3, 700, 16px, center, 0.04em, none);
	align-items: center;
	@media screen and (min-width: $tablet) {
		@include centralFlex();
		margin-right: 15px;
		@include objectForm(191px, 44px, 22px);
		font-size: 16px;
	}
	@media screen and (min-width: $desktop) {
		width: 198px;
	}
}
.btn-red {
	background-color: var(--accent-and-text-color);
	// margin-bottom: 10px;
	color: var(--second-background-and-text-color);
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	&:hover,
	&:focus {
		background-color: var(--second-hover-color);
		//color:var(--accent-and-text-color);
	}
	// @media screen and (min-width: $tablet) {
	// 	margin-bottom: 0;
	// }
}
.btn-white {
	background-color: var(--second-background-and-text-color);
	color: var(--accent-and-text-color);
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	&:hover,
	&:focus {
		background-color: var(--first-hover-color);
		// color: var(--second-background-and-text-color);
	}
}
.btn__arrow-white {
	fill: var(--second-background-and-text-color);
	width: 20px;
	height: 20px;
}
.btn__arrow-red {
	fill: var(--accent-and-text-color);
	width: 20px;
	height: 20px;
}
