.contacts {
	background-image: linear-gradient(to bottom, #ffffff 84px, #fff5f6 40px);
	background-repeat: no-repeat;
	background-size: contain;
	background-position-y: 20%;
	padding-bottom: 113px;
	@media screen and (min-width: $tablet) {
		padding-bottom: 165px;
		
	}
	@media screen and (min-width: $desktop) {
		background-image: url('../images/color_plums.png'),
			linear-gradient(to bottom, #ffffff 84px, #fff5f6 40px);

		@media (min-device-pixel-ratio: 2),
			(min-resolution: 192dpi),
			(min-resolution: 2dppx) {
			background-image: url('../images/color_plums_2x.png'),
				linear-gradient(to bottom, #ffffff 84px, #fff5f6 40px);
		}
	}
}

.contacts__cards {
	@media screen and (min-width: $tablet) {
		display: flex;
		flex-wrap: wrap;

		margin-left: -20px;
	}
	@media screen and (min-width: $desktop) {
		margin-left: -30px;
	}
}
.contacts__card {
	background: var(--second-background-and-text-color);
	box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
	border-radius: 24px;
	margin-bottom: 20px;

	@media screen and (min-width: $tablet) {
		flex-basis: calc(100% / 3 - 20px);
		margin-bottom: 0px;
		margin-left: 20px;
	}
	@media screen and (min-width: $tablet) {
		flex-basis: calc(100% / 3 - 30px);
		margin-left: 30px;
	}
}
.contacts__title {
	margin-left: 20px;
	margin-top: 43px;
	@include objectForm(80px, 20px, 4px);
	@include fonts(1.83, 500, 12px, center, 0.04em, none);
	display: inline-block;
	background-color: #f0d1a5;
	align-items: center;
	color: var(--second-background-and-text-color);

	@media screen and (min-width: $tablet) {
		margin-left: 31px;
		margin-top: 50px;
		padding-top: 0;
		padding-bottom: 10px;

		@include objectForm(73px, 28px, 6px);
		font-size: 14px;
		line-height: 1.87;
	}
	@media screen and (min-width: $desktop) {
		font-size: 16px;
		padding-bottom: 0;
	}
}
.contacts__title--green {
	width: 130px;
	background-color: #c2e297;
	@media screen and (min-width: $tablet) {
		width: 138px;
	}
}
.contacts__subtitle {
	padding-left: 20px;
	padding-top: 25px;
	@include fonts(1.83, 500, 12px, left, 0.04em, none);
	color: var(--second-text-color);
	@media screen and (min-width: $tablet) {
		@include fonts(1.87, 500, 14px, left, 0.04em, none);
		padding-left: 31px;
		padding-top: 30px;
	}
	@media screen and (min-width: $desktop) {
		font-size: 16px;
		padding-left: 43px;
		padding-top: 32px;
	}
}
.contacts__text {
	padding-left: 20px;
	padding-top: 10px;
	@include fonts(1.5, 500, 12px, left, 0.04em, none);
	color: var(--third-text-color);
	padding-bottom: 25px;
	@media screen and (min-width: $tablet) {
		padding-left: 31px;
		font-size: 14px;
		line-height: 1.87;
		padding-bottom: 30px;
	}
	@media screen and (min-width: $desktop) {
		font-size: 16px;
		padding-left: 43px;
		padding-bottom: 32px;
	}
}
.contacts__thumb {
	padding: 25px 0px;
	margin: 0px 20px;
	border-bottom: 1px solid #e1e1e1;
	border-top: 1px solid #e1e1e1;
	@media screen and (min-width: $tablet) {
		margin-left: 31px;
		margin-right: 25px;
		padding-top: 30px;
		padding-bottom: 30px;
	}
	@media screen and (min-width: $desktop) {
		margin: 0px 43px;
		padding-top: 32px;
		padding-bottom: 32px;
	}
}
.contacts__days {
	@include fonts(1.83, 500, 12px, left, 0.04em, none);
	color: var(--second-text-color);
	@media screen and (min-width: $tablet) {
		font-size: 14px;
		line-height: 1.87;
	}
	@media screen and (min-width: $desktop) {
		font-size: 16px;
	}
}
.contacts__time {
	@include fonts(1.83, 500, 12px, left, 0.04em, none);
	color: var(--first-text-color);
	@media screen and (min-width: $tablet) {
		font-size: 14px;
		line-height: 1.87;
	}
	@media screen and (min-width: $desktop) {
		font-size: 16px;
	}
}
.contacts__list {
	padding: 25px 0px 43px 20px;
	@media screen and (min-width: $tablet) {
		padding: 30px 0px 50px 31px;
	}
	@media screen and (min-width: $desktop) {
		padding: 32px 0px 61px 43px;
	}
}
.contacts__link {
	@include fonts(1.5, 500, 12px, left, 0.04em, none);
	color: var(--third-text-color);
	@media screen and (min-width: $tablet) {
		@include fonts(1.87, 500, 14px, left, 0.04em, none);
	}
	@media screen and (min-width: $desktop) {
		font-size: 16px;
	}
}
.contacts__wrapper {
	margin-top: 54px;
	margin-bottom: -10px;

	@media screen and (min-width: $tablet) {
		@include centralFlex();
		margin-top: 81px;
		
	}
	@media screen and (min-width: $desktop) {
		margin-top: 86px;
		
	}
}

.btn {
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
	@include objectForm(160px, 44px, 22px);
	@include fonts(1.3, 700, 16px, center, 0.04em, none);
	align-items: center;
	&:not(:last-child){
		margin-bottom: 10px;
	}
	
	@media screen and (min-width: $tablet) {
		@include centralFlex();
		margin: 0;
		margin-right: 15px;
		@include objectForm(191px, 44px, 22px);
		font-size: 16px;
	}
	@media screen and (min-width: $desktop) {
		width: 198px;
	}
}
.btn-red {
	position: relative;
	top: 0;
	background-color: var(--accent-and-text-color);
	// margin-bottom: 10px;
	color: var(--second-background-and-text-color);
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
		top 250ms cubic-bezier(0.4, 0, 0.2, 1);
	&:hover,
	&:focus {
		top: 2px;
		background-color: var(--second-hover-color);
		box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
			0px 2px 2px rgba(0, 0, 0, 0.12);

		//color:var(--accent-and-text-color);
	}
	&:active {
		box-shadow: inset 0px 3px 1px rgba(0, 0, 0, 0.1),
			inset 0px 1px 2px rgba(0, 0, 0, 0.08),
			inset 0px 2px 2px rgba(0, 0, 0, 0.12);
	}
	// @media screen and (min-width: $tablet) {
	// 	margin-bottom: 0;
	// }
}
.btn-white {
	background-color: var(--second-background-and-text-color);
	color: var(--accent-and-text-color);
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
		top 250ms cubic-bezier(0.4, 0, 0.2, 1);
	&:hover,
	&:focus {
		top: 2px;
		background-color: var(--first-hover-color);
		box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
			0px 2px 2px rgba(0, 0, 0, 0.12);
		// color: var(--second-background-and-text-color);
	}
	&:active {
		box-shadow: inset 0px 3px 1px rgba(0, 0, 0, 0.1),
			inset 0px 1px 2px rgba(0, 0, 0, 0.08),
			inset 0px 2px 2px rgba(0, 0, 0, 0.12);
	}
}
.btn__arrow-white {
	fill: var(--second-background-and-text-color);
	width: 20px;
	height: 20px;
}
.btn__arrow-red {
	fill: var(--accent-and-text-color);
	width: 20px;
	height: 20px;
}
