.footer {
}

.footer__container {
	padding-right: 20px;
	padding-left: 20px;
	background-color: #fff5f6;
}

.footer__text {
	font-family: Titan One;
	width: 232px;

	@include fonts(1.16, 400, 18px, unset, 0.04em, uppercase);

	color: var(--first-text-color);
	margin-bottom: 17px;
}

.footer__title {
	font-family: Titan One;
	@include fonts(1.14, 400, 34px, unset, 0.04em, uppercase);
	width: 200px;

	color: var(--accent-and-text-color);

	margin-bottom: 43px;
}

.footer__icon-toils {
	fill: #fea5bb;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	&:hover,
	&:focus {
		fill: var(--accent-and-text-color);
	}
}

.footer__icon {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 46px;
}

.footer__link-icon {
	margin-left: 28px;
}

.footer__contact {
	font-style: normal;
	@include fonts(1.83, 700, 12px, right, 0.04em, none);

	margin-bottom: 43px;
}

.footer__contact-text {
	color:var(--second-text-color) ;
}

.footer__tel {
	color: var(--accent-and-text-color);
}

.footer__bord {
	border: none;
	border-bottom: 1px solid #e1e1e1;
	margin-bottom: 22px;
	margin-left: -20px;
	margin-right: -20px;
}

.footer__contact-copyright {
	@include fonts(1.5, 700, 14px, center, 0.04em, none);

	color: var(--third-text-color);
	margin: 0 auto;
}

.copyright-second {
	padding-bottom: 25px;
}
