.gallery {
	position: relative;
	display: flex;
	justify-content: center;
	width: 100%;
	padding-top: 120px;

	background-image: linear-gradient(to bottom, #fff5f6 40%, #ffffff 40%);
}

.thumb {
	margin-left: 5px;
	border-radius: 20px;
	overflow: hidden;
}

.first-elem {
	margin-top: 40px;
}

.last-elem {
	margin-top: 40px;
}

.mb {
	margin-bottom: 5px;
}

.up-block {
	transform: translateY(-50px);
}

.upper-block {
	transform: translateY(-100px);
}

.thumb-big {
	display: block;
	margin-left: 5px;

	// transform: translateY(-80px);
}

.thumb-under {
	display: inline-flex;
	margin-top: 5px;
}
