.gallery {
	position: relative;
	display: flex;
	justify-content: center;
	width: 100%;
	padding-top: 139px;
	background-image: linear-gradient(to bottom, #fff5f6 40%, #ffffff 40%);
}

.thumb {
	margin-left: 5px;
	border-radius: 20px;
	overflow: hidden;
}

.first-elem {
	margin-top: 40px;
}

.last-elem {
	margin-top: 40px;
}

.mb {
	margin-bottom: 5px;
}

.up-block {
	transform: translateY(-50px);
}

.thumb-big {
	margin-left: 5px;

	transform: translateY(-30%);
}

.big-small-block {
	display: flex;
	flex-direction: column;
}

.thumb-under {
	margin-left: 5px;
	transform: translateY(-75px);
}
