.header-hero__container {
	margin: 0 auto;
	position: relative;
	height: 502px;
	// padding: 6px 20px 0px 20px;
	@media screen and (min-width: 480px) and (max-width: 767px) {
		width: 450px;
	}

	@media screen and (min-width: 768px) and (max-width: 1279px) {
		width: 700px;
		height: 399px;
		// padding: 37px 34px 0px 34px;
	}

	@media screen and (min-width: $desktop) {
		width: 1050px;
		height: 665px;
		padding: 0;
	}
}
.logo {
	position: absolute;
	top: 37px;
	left: -70px;
	@media screen and (max-width: 1279px) {
		position: relative;
		top: 0;
		left: 0;
	}
}

.header-hero {
	background-color: var(--background-and-text-color);
	&__nav {
		display: flex;
		align-items: baseline;
		justify-content: flex-end;

		@media screen and (max-width: 1279px) {
			padding-top: 37px;
			align-items: center;
		}
		@media screen and (max-width: 767px) {
			padding-top: 6px;
		}
	}

	&__navigation-list {
		display: flex;
		margin: 0 110px;

		@media screen and (max-width: 1279px) {
			display: none;
		}
		@media screen and (min-width: 1280px) {
			padding-top: 50px;
		}
	}

	&__navigation-item {
		z-index: 1;

		&:not(:last-child) {
			margin-right: 35px;
		}
	}

	&__navigation-link {
		padding: 15px 0px;
		@include fonts(1.31, 700, 16px, unset, none, none);
		color: var(--second-background-and-text-color);
		transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
		&--current {
			color: var(--accent-and-text-color);
		}

		&:hover,
		&:focus {
			color: var(--accent-and-text-color);
		}
	}

	&__button {
		position: relative;
		top: 0;
		width: 159px;
		height: 44px;
		border-radius: 22px;
		z-index: 1;
		@include fonts(1.31, 700, 16px, center, 0.04em, none);
		background-color: var(--second-background-and-text-color);
		color: var(--accent-and-text-color);
		transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
			box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
			top 250ms cubic-bezier(0.4, 0, 0.2, 1);
		@media screen and (max-width: 767px) {
			display: none;
		}
		&:hover,
		&:focus {
			top: 2px;
			background-color: var(--first-hover-color);
			box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
				0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
		}

		&:active {
			box-shadow: inset 0px 3px 1px rgba(0, 0, 0, 0.1),
				inset 0px 1px 2px rgba(0, 0, 0, 0.08),
				inset 0px 2px 2px rgba(0, 0, 0, 0.12);
		}
	}

	&__burger {
		background-color: transparent;
		margin-left: auto;
		z-index: 1;

		@media screen and (min-width: $tablet) {
			margin-right: 30px;
			margin-left: 291px;
		}
		@media screen and (min-width: $desktop) {
			display: none;
		}
	}

	&__title-container {
		display: flex;
		flex-direction: column;
		position: relative;
		margin-top: 137px;
		z-index: 1;

		@media screen and (min-width: $tablet) {
			margin-top: var(--title-and-button-gap);
		}

		@media screen and (min-width: $desktop) {
			// left: 60px;
			margin-top: 84px;
		}
	}

	&__title {
		width: 218px;
		font-family: 'Titan One';
		display: flex;
		flex-direction: column;
		@media screen and (min-width: $tablet) {
			width: 162px;
		}
		@media screen and (min-width: $desktop) {
			width: 277px;
		}

		&-partial1 {
			color: var(--second-background-and-text-color);
			@include fonts(1.15, 400, 26px, unset, 0.04em, none);

			@media screen and (min-width: $tablet) {
				@include fonts(1.14, 400, 22px, unset, 0.04em, none);
			}

			@media screen and (min-width: $desktop) {
				@include fonts(1.16, 400, 38px, unset, 0.04em, none);
			}
		}
		&-partial2 {
			color: var(--accent-and-text-color);
			@include fonts(1, 400, 48px, unset, 0.04em, none);

			@media screen and (min-width: $tablet) {
				@include fonts(0.9, 400, 34px, unset, 0.04em, none);
			}

			@media screen and (min-width: $desktop) {
				@include fonts(0.9, 400, 58px, unset, 0.04em, none);
			}
		}
	}
	&__title-buttons {
		display: flex;
		margin-top: 20px;
		@media screen and (min-width: $desktop) {
			margin-top: 25px;
		}
	}
	&__title-btn1 {
		position: relative;
		top: 0;
		@include objectForm(62px, 24px, 20px);
		@include fonts(1.25, 400, 8px, center, 0.04em, none);
		margin-right: var(--title-and-button-gap);
		background-color: var(--accent-and-text-color);
		color: var(--second-background-and-text-color);
		transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
			box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
			top 250ms cubic-bezier(0.4, 0, 0.2, 1);
		@media screen and (min-width: $desktop) {
			@include objectForm(104px, 40px, 20px);
			@include fonts(1.29, 400, 14px, center, 0.04em, none);
		}
		&:hover,
		&:focus {
			top: 2px;
			background-color: var(--second-hover-color);
			box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
				0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
		}
		&:active {
			box-shadow: inset 0px 3px 1px rgba(0, 0, 0, 0.1),
				inset 0px 1px 2px rgba(0, 0, 0, 0.08),
				inset 0px 2px 2px rgba(0, 0, 0, 0.12);
		}
	}
	&__title-btn2 {
		position: relative;
		top: 0;
		@include objectForm(83px, 24px, 20px);
		@include fonts(1.25, 400, 8px, center, 0.04em, none);
		background-color: var(--second-background-and-text-color);
		color: var(--accent-and-text-color);
		transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
			box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
			top 250ms cubic-bezier(0.4, 0, 0.2, 1);
		@media screen and (min-width: $desktop) {
			@include objectForm(138px, 40px, 20px);
			@include fonts(1.29, 400, 14px, center, 0.04em, none);
		}
		&:hover,
		&:focus {
			top: 2px;
			background-color: var(--first-hover-color);
			box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
				0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
		}
		&:active {
			box-shadow: inset 0px 3px 1px rgba(0, 0, 0, 0.1),
				inset 0px 1px 2px rgba(0, 0, 0, 0.08),
				inset 0px 2px 2px rgba(0, 0, 0, 0.12);
		}
	}

	&__adv-card {
		display: flex;
		align-items: center;
		margin-top: 19px;
		padding-left: 0px;
		// @media screen and (min-width: $desktop) {
		// 	padding-left: 50px;
		// }
	}
	&__adv-wrap {
		width: 450px;
		height: 250px;
	}

	&__advertisement {
		width: 114px;
		height: 48px;

		@media screen and (max-width: 767px) {
			display: none;
		}

		@media screen and (min-width: $desktop) {
			width: 200px;
			height: 78px;
		}
		&-text {
			@include fonts(1.5, 400, 8px, unset, 0.04em, none);
			color: var(--second-background-and-text-color);
			margin-bottom: 7px;

			@media screen and (min-width: $desktop) {
				margin-bottom: 20px;
				@include fonts(1.43, 400, 14px, unset, 0.04em, none);
			}
		}
	}

	&__circle {
		width: 346px;
		height: 344px;
		border-radius: 50%;
		background-color: var(--first-text-color);
		position: absolute;
		top: 80px;
		right: -60px;

		@media screen and (min-width: $tablet) {
			width: 324px;
			height: 322px;
			top: 30px;
			right: 105px;
		}

		@media screen and (min-width: $desktop) {
			width: 538px;
			height: 538px;
			top: 50px;
			left: 360px;
		}
	}
}

.company-abouts-1 {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	position: absolute;
	top: 100px;
	right: 10px;
	@media screen and (max-width: 767px) {
		display: none;
	}

	@media screen and (min-width: $desktop) {
		top: 160px;
		right: 0;
	}

	&__circle {
		position: absolute;
		top: -3px;
		right: -8px;
		width: 16px;
		height: 16px;
		border-radius: 50%;
		background-color: var(--second-background-and-text-color);
		@media screen and (min-width: $desktop) {
			top: -5px;
			right: -15px;
			width: 30px;
			height: 30px;
		}
	}
	&__num {
		font-family: 'Titan One';
		z-index: 1;
		color: var(--accent-and-text-color);
		@include fonts(1.14, 400, 28px, unset, 0.04em, none);
		@media screen and (min-width: $desktop) {
			@include fonts(1.15, 400, 46px, unset, 0.04em, none);
		}
	}
	&__text {
		color: var(--second-background-and-text-color);
		@include fonts(1.3, 400, 8px, unset, 0.04em, none);
		@media screen and (min-width: $desktop) {
			@include fonts(1.29, 400, 14px, unset, 0.04em, none);
		}
	}
}
.company-abouts-2 {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	position: absolute;
	top: 155px;
	right: 10px;
	@media screen and (max-width: 767px) {
		display: none;
	}
	@media screen and (min-width: $desktop) {
		top: 250px;
		right: 0;
	}

	&__circle {
		position: absolute;
		top: -3px;
		right: -8px;
		width: 16px;
		height: 16px;
		border-radius: 50%;
		background-color: var(--second-background-and-text-color);

		@media screen and (min-width: $desktop) {
			top: -5px;
			right: -15px;
			width: 30px;
			height: 30px;
		}
	}
	&__num {
		font-family: 'Titan One';
		z-index: 1;
		color: var(--accent-and-text-color);
		@include fonts(1.14, 400, 28px, unset, 0.04em, none);
		@media screen and (min-width: $desktop) {
			@include fonts(1.15, 400, 46px, unset, 0.04em, none);
		}
	}
	&__text {
		color: var(--second-background-and-text-color);
		@include fonts(1.3, 400, 8px, unset, 0.04em, none);
		@media screen and (min-width: $desktop) {
			@include fonts(1.29, 400, 14px, unset, 0.04em, none);
		}
	}
}

.milk-pic,
.ice-cream,
.ice-cream3 {
	@media screen and (max-width: 767px) {
		display: none;
	}
}
.hero__slider-img {
	width: 124px;
	height: 124px;
	margin-right: 20px;
	@media screen and (min-width: $desktop) {
		width: 190px;
		height: 190px;
	}
}

.ice-cream-pic {
	position: absolute;
	bottom: 0px;
	right: 20px;

	@media screen and (min-width: $tablet) {
		right: 200px;
	}

	@media screen and (min-width: $desktop) {
		left: 460px;
		display: none;
	}
}

// Стили для анимации мороженкого по частям, НАЧАЛО

.ice-cream {
	position: relative;
	display: none;

	@media (max-width: 1279px) {
		display: none;
	}

	@media (min-width: $desktop) {
		display: block;
		width: 1200px;
		right: 160px;
		top: -22px;
	}
}

.ice1 {
	width: 20%;
	position: absolute;
	// top: 246px;
	// left: 302px;

	top: -135px;
	right: 350px;
	animation-delay: 200ms;

	z-index: 1;
}

.ice2 {
	width: 20%;
	position: absolute;
	// top: 214px;
	// left: 302px;
	top: -185px;
	right: 350px;
	animation-delay: 400ms;

	z-index: 2;
}

.ice3 {
	width: 20%;
	position: absolute;
	// top: 190px;
	// left: 302px;
	top: -220px;
	right: 350px;
	animation-delay: 600ms;
	z-index: 3;
}

.ice4 {
	width: 20%;
	position: absolute;
	// top: 163px;
	// left: 302px;
	top: -265px;
	right: 350px;
	animation-delay: 800ms;

	z-index: 4;
}

.ice5 {
	width: 20%;
	position: absolute;
	// top: 125px;
	// left: 302px;
	top: -330px;
	right: 350px;
	animation-delay: 1000ms;
	z-index: 5;
}

.ice6 {
	width: 20%;
	position: absolute;
	// top: 75px;
	// left: 302px;
	top: -410px;
	right: 350px;
	animation-delay: 1200ms;
	z-index: 6;
}

.ice7 {
	width: 20%;
	position: absolute;
	// top: 15px;
	// left: 302px;
	top: -520px;
	right: 350px;
	animation-delay: 1400ms;

	z-index: 7;
}

// Стили для анимации мороженкого по частям, КОНЕЦ

.slide-pic-icecream {
	padding-top: 35px;
	vertical-align: middle;
}

.girl-pic {
	position: absolute;
	bottom: 0px;
	right: 0;
	@media screen and (max-width: 767px) {
		display: none;
	}
	// @media screen and (min-width: $desktop) {
	// 	right: 0;
	// }
}
.hero__slider-slide {
	display: flex;
}
.hero__slider-text {
	padding-top: 60px;
}
