.header-hero__container {
	position: relative;
	height: 502px;
	padding: 6px 20px 0px 20px;

	@media screen and (min-width: $tablet) {
		height: 399px;
		padding: 37px 34px 0px 34px;
	}

	@media screen and (min-width: $desktop) {
		height: 665px;
		padding: 37px 20px 0px 20px;
	}
}

.header-hero {
	background-color: var(--background-and-text-color);

	&__nav {
		display: flex;
		align-items: center;
	}

	&__navigation-list {
		display: flex;
		margin: 0 110px;
		@media screen and (max-width: 1279px) {
			display: none;
		}
	}

	&__navigation-item {
		z-index: 1;
		&:not(:last-child) {
			margin-right: 35px;
		}
	}

	&__navigation-link {
		padding: 15px 0px;
		@include fonts(1.31, 700, 16px, unset, 0.04em, none);
		color: var(--second-background-and-text-color);
		transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

		&:hover,
		&:focus {
			color: var(--accent-and-text-color);
		}
	}

	&__button {
		position: relative;
		top: 0;
		width: 159px;
		height: 44px;
		border-radius: 22px;
		@include fonts(1.31, 700, 16px, center, 0.04em, none);
		background-color: var(--second-background-and-text-color);
		color: var(--accent-and-text-color);
		transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
			box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
			top 250ms cubic-bezier(0.4, 0, 0.2, 1);
		@media screen and (max-width: 767px) {
			display: none;
		}
		&:hover,
		&:focus {
			top: 2px;
			background-color: var(--first-hover-color);
			box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
				0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
		}

		&:active {
			box-shadow: inset 0px 3px 1px rgba(0, 0, 0, 0.1),
				inset 0px 1px 2px rgba(0, 0, 0, 0.08),
				inset 0px 2px 2px rgba(0, 0, 0, 0.12);
		}
	}

	&__burger {
		background-color: transparent;
		margin-left: auto;
		z-index: 1;

		@media screen and (min-width: $tablet) {
			margin-right: 30px;
			margin-left: 291px;
		}
		@media screen and (min-width: $desktop) {
			display: none;
		}
	}

	&__title-container {
		display: flex;
		flex-direction: column;
		position: relative;
		margin-top: 137px;
		z-index: 1;

		@media screen and (min-width: $tablet) {
			margin-top: var(--title-and-button-gap);
		}

		@media screen and (min-width: $desktop) {
			left: 69px;
			margin-top: 84px;
		}
	}

	&__title {
		width: 218px;
		font-family: 'Titan One';
		display: flex;
		flex-direction: column;
		@media screen and (min-width: $tablet) {
			width: 162px;
		}
		@media screen and (min-width: $desktop) {
			width: 277px;
		}

		&-partial1 {
			color: var(--second-background-and-text-color);
			@include fonts(1.15, 400, 26px, unset, 0.04em, none);

			@media screen and (min-width: $tablet) {
				@include fonts(1.14, 400, 22px, unset, 0.04em, none);
			}

			@media screen and (min-width: $desktop) {
				@include fonts(1.16, 400, 38px, unset, 0.04em, none);
			}
		}
		&-partial2 {
			color: var(--accent-and-text-color);
			@include fonts(1, 400, 48px, unset, 0.04em, none);

			@media screen and (min-width: $tablet) {
				@include fonts(0.9, 400, 34px, unset, 0.04em, none);
			}

			@media screen and (min-width: $desktop) {
				@include fonts(0.9, 400, 58px, unset, 0.04em, none);
			}
		}
	}
	&__title-buttons {
		display: flex;
		margin-top: 20px;
		@media screen and (min-width: $desktop) {
			margin-top: 25px;
		}
	}
	&__title-btn1 {
		position: relative;
		top: 0;
		@include objectForm(62px, 24px, 20px);
		@include fonts(1.25, 400, 8px, center, 0.04em, none);
		margin-right: var(--title-and-button-gap);
		background-color: var(--accent-and-text-color);
		color: var(--second-background-and-text-color);
		transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
			box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
			top 250ms cubic-bezier(0.4, 0, 0.2, 1);
		@media screen and (min-width: $desktop) {
			@include objectForm(104px, 40px, 20px);
			@include fonts(1.29, 400, 14px, center, 0.04em, none);
		}
		&:hover,
		&:focus {
			top: 2px;
			background-color: var(--second-hover-color);
			box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
				0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
		}
		&:active {
			box-shadow: inset 0px 3px 1px rgba(0, 0, 0, 0.1),
				inset 0px 1px 2px rgba(0, 0, 0, 0.08),
				inset 0px 2px 2px rgba(0, 0, 0, 0.12);
		}
	}
	&__title-btn2 {
		position: relative;
		top: 0;
		@include objectForm(83px, 24px, 20px);
		@include fonts(1.25, 400, 8px, center, 0.04em, none);
		background-color: var(--second-background-and-text-color);
		color: var(--accent-and-text-color);
		transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
			box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
			top 250ms cubic-bezier(0.4, 0, 0.2, 1);
		@media screen and (min-width: $desktop) {
			@include objectForm(138px, 40px, 20px);
			@include fonts(1.29, 400, 14px, center, 0.04em, none);
		}
		&:hover,
		&:focus {
			top: 2px;
			background-color: var(--first-hover-color);
			box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
				0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
		}
		&:active {
			box-shadow: inset 0px 3px 1px rgba(0, 0, 0, 0.1),
				inset 0px 1px 2px rgba(0, 0, 0, 0.08),
				inset 0px 2px 2px rgba(0, 0, 0, 0.12);
		}
	}

	&__adv-card {
		display: flex;
		align-items: center;
		margin-top: 20px;
	}

	&__advertisement {
		width: 114px;
		height: 48px;

		@media screen and (max-width: 767px) {
			display: none;
		}

		@media screen and (min-width: $desktop) {
			width: 200px;
			height: 78px;
		}
		&-text {
			@include fonts(1.5, 400, 8px, unset, 0.04em, none);
			color: var(--second-background-and-text-color);
			margin-bottom: 7px;

			@media screen and (min-width: $desktop) {
				margin-bottom: 20px;
				@include fonts(1.43, 400, 14px, unset, 0.04em, none);
			}
		}
	}

	&__circle {
		width: 346px;
		height: 344px;
		border-radius: 50%;
		background-color: var(--first-text-color);
		position: absolute;
		top: 80px;
		right: -50px;

		@media screen and (min-width: $tablet) {
			width: 324px;
			height: 322px;
			top: 30px;
			right: 140px;
		}

		@media screen and (min-width: $desktop) {
			width: 538px;
			height: 538px;
			top: 50px;
			left: 470px;
		}
	}
}

.company-abouts-1 {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	position: absolute;
	top: 100px;
	right: 40px;
	@media screen and (max-width: 767px) {
		display: none;
	}

	@media screen and (min-width: $desktop) {
		top: 130px;
		right: 80px;
	}

	&__circle {
		position: absolute;
		top: -3px;
		right: -8px;
		width: 16px;
		height: 16px;
		border-radius: 50%;
		background-color: var(--second-background-and-text-color);
		@media screen and (min-width: $desktop) {
			top: -5px;
			right: -15px;
			width: 30px;
			height: 30px;
		}
	}
	&__num {
		font-family: 'Titan One';
		z-index: 1;
		color: var(--accent-and-text-color);
		@include fonts(1.14, 400, 28px, unset, 0.04em, none);
		@media screen and (min-width: $desktop) {
			@include fonts(1.15, 400, 46px, unset, 0.04em, none);
		}
	}
	&__text {
		color: var(--second-background-and-text-color);
		@include fonts(1.3, 400, 8px, unset, 0.04em, none);
		@media screen and (min-width: $desktop) {
			@include fonts(1.29, 400, 14px, unset, 0.04em, none);
		}
	}
}
.company-abouts-2 {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	position: absolute;
	top: 155px;
	right: 40px;
	@media screen and (max-width: 767px) {
		display: none;
	}
	@media screen and (min-width: $desktop) {
		top: 218px;
		right: 40px;
	}

	&__circle {
		position: absolute;
		top: -3px;
		right: -8px;
		width: 16px;
		height: 16px;
		border-radius: 50%;
		background-color: var(--second-background-and-text-color);

		@media screen and (min-width: $desktop) {
			top: -5px;
			right: -15px;
			width: 30px;
			height: 30px;
		}
	}
	&__num {
		font-family: 'Titan One';
		z-index: 1;
		color: var(--accent-and-text-color);
		@include fonts(1.14, 400, 28px, unset, 0.04em, none);
		@media screen and (min-width: $desktop) {
			@include fonts(1.15, 400, 46px, unset, 0.04em, none);
		}
	}
	&__text {
		color: var(--second-background-and-text-color);
		@include fonts(1.3, 400, 8px, unset, 0.04em, none);
		@media screen and (min-width: $desktop) {
			@include fonts(1.29, 400, 14px, unset, 0.04em, none);
		}
	}
}

.milk-pic {
	@media screen and (max-width: 767px) {
		display: none;
	}
}
.ice-cream-pic {
	position: absolute;
	bottom: 0px;
	right: 32px;

	@media screen and (min-width: $tablet) {
		right: 240px;
	}

	@media screen and (min-width: $desktop) {
		left: 600px;
	}
}
.girl-pic {
	position: absolute;
	bottom: 0px;
	right: 40px;
	@media screen and (max-width: 767px) {
		display: none;
	}
}
