.products {
	padding: 121px 20px 98px 20px;

	@media screen and (min-width: 768px) {
		padding-top: 122px;
		padding-bottom: 112px;
	}
	@media screen and (min-width: 1280px) {
		padding-top: 127px;
		padding-bottom: 119px;
	}
}

.products__pre-title {
	font-family: 'Titan One', sans-serif;
	font-size: 18px;
	line-height: calc(21 / 18);
	text-align: center;
	text-transform: uppercase;
	color: var(--first-text-color);
	display: block;
	justify-content: center;
	@media screen and (min-width: 768px) {
		font-size: 26px;
		line-height: calc(30 / 26);
	}
	@media screen and (min-width: 1280px) {
		font-size: 30px;
		line-height: calc(34 / 30);
	}
}

.products__top-title {
	font-family: 'Titan One', sans-serif;
	font-size: 34px;
	line-height: calc(39 / 34);
	text-align: center;
	text-transform: uppercase;
	color: var(--accent-and-text-color);
	@media screen and (min-width: 768px) {
		font-size: 48px;
		line-height: calc(55 / 48);
	}
	@media screen and (min-width: 1280px) {
		font-size: 58px;
		line-height: calc(66 / 58);
		letter-spacing: 0.06em;
	}
}

.products__top-title_margin {
	margin-top: 15px;
}

.products__name {
	position: relative;
	align-items: center;
	flex-direction: column;
	display: flex;
	font-family: 'Titan One', sans-serif;
	font-size: 20px;
	line-height: calc(23 / 20);
	text-align: center;
	text-transform: uppercase;
	color: var(--second-background-and-text-color);
}

.products__name::after {
	position: absolute;
	content: '';
	display: block;
	width: 26px;
	height: 6px;
	background-image: url(../images/products/points.png);
	top: 50px;
	@media screen and (min-width: 1280px) {
		top: 68px;
	}
}

.products__list {
	@media screen and (min-width: 320px) and (max-width: 767px) {
		text-align: center;
	}
	@media screen and (min-width: 768px) {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-top: 39px;
	}
	@media screen and (min-width: 1280px) {
		display: flex;
		flex-wrap: wrap;
		margin-top: 100px;
	}
}

.products__list .products__item {
	position: relative;
	min-height: 485px;

	padding: 154px 41px 40px 39px;
	border-radius: 24px;
	margin-top: 144px;

	&:first-child {
		background-color: var(--background-and-text-color);
	}
	&:nth-child(2) {
		background-color: #f0d1a5;
	}
	&:last-child {
		background-color: #c2e297;
	}
	@media screen and (min-width: 320px) and (max-width: 767px) {
		display: inline-block;
		&:not(:last-child) {
			margin-bottom: 17px;
		}
	}
	@media screen and (min-width: 768px) {
		min-height: 485px;
		max-width: 220px;
		padding-left: 11px;
		padding-right: 11px;
		&:not(:last-child) {
			margin-right: 20px;
		}
	}
	@media screen and (min-width: 1280px) {
		padding-top: 168px;
		max-width: 329px;
		min-height: 525px;
		padding-top: 168px;
		&:not(:last-child) {
			margin-right: 30px;
		}
	}
}

.products__box {
	position: absolute;
	top: -120px;
	left: 0px;
	width: 100%;
	@media screen and (min-width: 1280px) {
		top: -193px;
	}
}

.product__img {
	margin: 0 auto;
}

.products__text {
	font-weight: 700;
	font-size: 14px;
	line-height: calc(21 / 14);
	text-align: center;
	color: var(--second-background-and-text-color);
	@media screen and (min-width: 1280px) {
		font-size: 16px;
		line-height: calc(21 / 16);
	}
}

.products__text_margin {
	margin-top: 66px;
}

.products__btn {
	display: block;
	width: 40px;
	height: 40px;
	margin: 0 auto;
	margin-top: 30px;
	border-radius: 50%;
	@media screen and (min-width: 768px) {
		margin-top: 30px;
	}
	@media screen and (min-width: 1280px) {
		margin-top: 62px;
	}
}
